extends layout
block content
  //- #slideshow.w-100.ldo-hero
  .container-fluid
    .row.home-top  
      #slideshow.col-12.col-md-9.carousel.slide.carousel-fade(data-ride="carousel")
        .carousel-inner(role="listbox")
          .carousel-item.active 
            picture
              //- source(srcset="images/IMG_NUMBER_ASPECT_WIDTH.jpg" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="/images/IMG_269113X5.jpg" media="(min-width: 425px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_269113X5.jpg" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="/images/IMG_269113X5.jpg" media="(min-width:768px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_269113X5.jpg" media="(min-width:768px)")
              source(srcset="/images/IMG_2691_4X3.jpg" media="(max-width:424px) and (-webkit-min-device-pixel-ratio: 2)")
              img.d-block.w-100(src="/images/IMG_269113X5.jpg")
          .carousel-item
            picture
              //- source(srcset="images/IMG_NUMBER_ASPECT_WIDTH.jpg" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="/images/IMG_279013X5.jpg" media="(min-width: 425px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_279013X5.jpg" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="/images/IMG_279013X5.jpg" media="(min-width:768px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_279013X5.jpg" media="(min-width:768px)")
              source(srcset="/images/IMG_2790_4X3.jpg" media="(max-width:424px) and (-webkit-min-device-pixel-ratio: 2)")
              img.d-block.w-100(src="/images/IMG_279013X5.jpg")          
          .carousel-item
            picture
              //- source(srcset="images/IMG_NUMBER_ASPECT_WIDTH.jpg" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="/images/IMG_278213X5.jpg" media="(min-width: 425px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_278213X5.jpg" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="/images/IMG_278213X5.jpg" media="(min-width:768px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_278213X5.jpg" media="(min-width:768px)")
              source(srcset="/images/IMG_2785_4X3.jpg" media="(max-width:424px) and (-webkit-min-device-pixel-ratio: 2)")
              img.d-block.w-100(src="/images/IMG_278213X5.jpg") 
          .carousel-item
            picture
              //- source(srcset="images/IMG_NUMBER_ASPECT_WIDTH.jpg" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="/images/IMG_243513X5.jpg" media="(min-width: 425px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_243513X5.jpg" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="/images/IMG_243513X5.jpg" media="(min-width:768px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_243513X5.jpg" media="(min-width:768px)")
              source(srcset="/images/IMG_2438_4X3.jpg" media="(max-width:424px) and (-webkit-min-device-pixel-ratio: 2)")
              img.d-block.w-100(src="/images/IMG_243513X5.jpg")
          .carousel-item
            picture
              //- source(srcset="images/IMG_NUMBER_ASPECT_WIDTH.jpg" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="/images/IMG_267413X5.jpg" media="(min-width: 425px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_267413X5.jpg" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="/images/IMG_267413X5.jpg" media="(min-width:768px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_267413X5.jpg" media="(min-width:768px)")
              source(srcset="/images/IMG_2759_4X3.jpg" media="(max-width:424px) and (-webkit-min-device-pixel-ratio: 2)")
              img.d-block.w-100(src="/images/IMG_267413X5.jpg")
          .carousel-item
            picture
              source(srcset="/images/IMG_268213X5.jpg" media="(min-width: 425px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_268213X5.jpg" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="/images/IMG_268213X5.jpg" media="(min-width:768px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_268213X5.jpg" media="(min-width:768px)")
              source(srcset="/images/IMG_2682_4X3.jpg" media="(max-width:424px) and (-webkit-min-device-pixel-ratio: 2)")
              img.d-block.w-100(src="/images/IMG_268213X5.jpg")
          .carousel-item
            picture
              source(srcset="/images/IMG_268513X5.jpg" media="(min-width: 425px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_268513X5.jpg" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="images/IMG_" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="/images/IMG_268513X5.jpg" media="(min-width:768px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_268513X5.jpg" media="(min-width:768px)")
              source(srcset="/images/IMG_2764_4X3.jpg" media="(max-width:424px) and (-webkit-min-device-pixel-ratio: 2)")
              img.d-block.w-100(src="/images/IMG_268513X5.jpg")
          .carousel-item
            picture
              source(srcset="/images/IMG_269313X5.jpg" media="(min-width: 425px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_269313X5.jpg" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="images/IMG_269313X5.jpg" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="/images/IMG_269313X5.jpg" media="(min-width:768px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_269313X5.jpg" media="(min-width:768px)")
              source(srcset="/images/IMG_2767_4X3.jpg" media="(max-width:424px) and (-webkit-min-device-pixel-ratio: 2)")
              img.d-block.w-100(src="/images/IMG_269313X5.jpg")
        a.carousel-control-prev(href="#slideshow" role="button" data-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.sr-only Previous
        a.carousel-control-next(href="#slideshow" role="button" data-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.sr-only Next
      //- #slideshow.carousel.slide.carousel-fade(data-ride="carousel")
      //-   .carousel-inner
      //-     .carousel-item.active
      //-       //- img.d-block.img-fluid(src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg" alt="First slide")
      //-       img.d-block.w-100(src="/images/001.jpg" alt="First slide")
      //-     .carousel-item
      //-       //- img.d-block.img-fluid(src="https://mdbootstrap.com/img/Photos/Slides/img%20(16).jpg" alt="Second slide")
      //-       img.d-block.w-100(src="/images/002.jpg" alt="Second slide")

      //-     .carousel-item
      //-       //- img.d-block.img-fluid(src="https://mdbootstrap.com/img/Photos/Slides/img%20(17).jpg" alt="Third slide")
      //-       img.d-block.w-100(src="/images/003.jpg" alt="Third slide")
      //-   a.carousel-control-prev(href="#slideshow" role="button" data-slide="prev")
      //-     span.carousel-control-prev-icon(aria-hidden="true")
      //-     span.sr-only Previous
      //-   a.carousel-control-next(href="#slideshow" role="button" data-slide="next")
      //-     span.carousel-control-next-icon(aria-hidden="true")
      //-     span.sr-only Next
      .col-md-3.headline
        h2.text-fluid.text-center Handmade greeting cards!

        p LDO Creates is the vision of master card maker Lynn Otto, who believes cards are more than a greeting. They're how people connect. The details and craftmanship in each of Lynn's cards are a great way to express yourself to someone. Want to learn more about these cards? 
        .text-center
          a.btn.btn-primary.bg-ldo-green-dark.ldo-green-btn(href="mailto:#{email}?Subject=Interest in LDO") Get in touch!
    .row.my-3
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/holidays")
              img.img-fluid(src="/images/IMG_2722-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Holidays
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/general")
              img.img-fluid(src="/images/IMG_2488-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center General
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/thank-you")
              img.img-fluid(src="/images/IMG_2491-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Thank You
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/sympathy")
              img.img-fluid(src="/images/IMG_2496-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Sympathy
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/birthdays")
              img.img-fluid(src="/images/IMG_2716-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Birthdays
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/baby")
              img.img-fluid(src="/images/IMG_2721-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Baby
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/special-occasions")
              img.img-fluid(src="/images/IMG_2728-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Special Occasions
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/hawaiian")
              img.img-fluid(src="/images/IMG_1503-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Hawaiian
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/beach")
              img.img-fluid(src="/images/IMG_1474-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Beach