extends layout
block content
  .container
    .row.my-3
      .col-md-7.mb-2
        .view.overlay.hm-white-light.z-depth-1-half
          img.img-fluid(src="/images/group.jpg")
          //- .mask
      .col-md-5.mb-2
        h2.h2-responsive Available Soon: Handcrafted  Greeting Cards
        p.text-fluid LDO Creates is the vision of master card maker Lynn Donaldson Otto, who believes cards more than a greeting. They're how people connect. The details and crafmanship in each of Lynn's cards are a great way to express yourself to someone. Want to learn more about these cards? 
        a.btn.btn-primary.bg-ldo-green-dark.ldo-green-btn(href="mailto:lynnw0423@hotmail.com?Subject=Interest in LDO") Get in touch!
    .row.my-3
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            img.img-fluid(src="/images/big-news.jpg")
            a(href="#")
              //- .mask
          .card-block
            h4.card-title.text-center Babies
            //- a.btn.btn-primary(href="#") Learn more.
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="#")
              img.img-fluid(src="/images/holidays.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Holidays
            p.card-text 
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            img.img-fluid(src="/images/thank-you.jpg")
            a(href="#")
              //- .mask
          .card-block
            h4.card-title.text-center Thank You
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            img.img-fluid(src="/images/sympathy.jpg")
            a(href="#")
              //- .mask
          .card-block
            h4.card-title.text-center Sympathy