extends layout
block content
  .container-fluid
    .row.my-3
      .col-md-7.mb-2
        .view.overlay.hm-white-light.z-depth-1-half
          img.img-fluid(src="/images/group.jpg")
          //- .mask
      .col-md-5.mb-2
        h2.h2-responsive Available Soon: Handcrafted  Greeting Cards
        p.text-fluid LDO Creates is the vision of master card maker Lynn Otto, who believes cards are more than a greeting. They're how people connect. The details and craftmanship in each of Lynn's cards are a great way to express yourself to someone. Want to learn more about these cards? 
        a.btn.btn-primary.bg-ldo-green-dark.ldo-green-btn(href="mailto:#{email}?Subject=Interest in LDO") Get in touch!
    .row.my-3
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/general")
              img.img-fluid(src="/images/IMG_0098-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center General
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/holidays")
              img.img-fluid(src="/images/IMG_0114-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Holidays
            p.card-text 
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/thank-you")
              img.img-fluid(src="/images/IMG_0102-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Thank You
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/babies")
              img.img-fluid(src="/images/IMG_0086-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Babies
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/sympathy")
              img.img-fluid(src="/images/IMG_0082-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Sympathy
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/birthdays")
              img.img-fluid(src="/images/IMG_0142-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Birthdays