extends layout
block content
  //- #slideshow.w-100.ldo-hero
  .container-fluid
    .row  
      #slideshow.col-12.col-md-9.carousel.slide.carousel-fade(data-ride="carousel")
        .carousel-inner(role="listbox")
          .carousel-item.active 
            picture
              //- source(srcset="images/IMG_NUMBER_ASPECT_WIDTH.jpg" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="/images/IMG_0283_4X3_1696.jpg" media="(min-width: 425px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_0283_4X3_848.jpg" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="/images/IMG_0283_4X3_3000.jpg" media="(min-width:768px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_0283_4X3_1696.jpg" media="(min-width:768px)")
              source(srcset="/images/IMG_0283_4X3_848.jpg" media="(max-width:424px) and (-webkit-min-device-pixel-ratio: 2)")
              img.d-block.w-100(src="/images/IMG_0283_4X3_424.jpg")
          .carousel-item
            picture
              source(srcset="/images/IMG_1706_4X3_1696.jpg" media="(min-width: 425px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_1706_4X3_848.jpg" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="/images/IMG_1706_4X3_3000.jpg" media="(min-width:768px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_1706_4X3_1696.jpg" media="(min-width:768px)")
              source(srcset="/images/IMG_1706_4X3_848.jpg" media="(max-width:424px) and (-webkit-min-device-pixel-ratio: 2)")
              img.d-block.w-100(src="/images/IMG_1706_4X3_424.jpg")
          .carousel-item
            picture
              source(srcset="/images/IMG_1719_4X3_1696.jpg" media="(min-width: 425px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_1719_4X3_848.jpg" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="images/IMG_" media="(min-width: 425px) and (max-width: 767px)")
              source(srcset="/images/IMG_1719_4X3_3000.jpg" media="(min-width:768px) and (-webkit-min-device-pixel-ratio: 2)")
              source(srcset="/images/IMG_1719_4X3_1696.jpg" media="(min-width:768px)")
              source(srcset="/images/IMG_1719_4X3_848.jpg" media="(max-width:424px) and (-webkit-min-device-pixel-ratio: 2)")
              img.d-block.w-100(src="/images/IMG_1719_4X3_424.jpg")
      .my-4.col-12.col-md-3
        h2.text-fluid.text-center LDO Creates introduces handmade greeting cards!

        p LDO Creates is the vision of master card maker Lynn Otto, who believes cards are more than a greeting. They're how people connect. The details and craftmanship in each of Lynn's cards are a great way to express yourself to someone. Want to learn more about these cards? 
        .text-center
          a.btn.btn-primary.bg-ldo-green-dark.ldo-green-btn(href="mailto:#{email}?Subject=Interest in LDO") Get in touch!
    .row.my-3
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/hawaiian")
              img.img-fluid(src="/images/IMG_1503-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Hawaiian
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/beach")
              img.img-fluid(src="/images/IMG_1474-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Beach
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/general")
              img.img-fluid(src="/images/IMG_1059-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center General
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/holidays")
              img.img-fluid(src="/images/IMG_0111-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Holidays
            p.card-text 
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/thank-you")
              img.img-fluid(src="/images/IMG_1067-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Thank You
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/special-occasions")
              img.img-fluid(src="/images/IMG_1062-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Special Occasions
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/sympathy")
              img.img-fluid(src="/images/IMG_0082-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Sympathy
      .col-md-3.mb-2
        .card.bg-ldo-card-light
          .view.overlay.hm-white-slight
            a(href="/cards/birthdays")
              img.img-fluid(src="/images/IMG_1486-thumbnail.jpg")
              //- .mask
          .card-block
            h4.card-title.text-center Birthdays