doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(property="og:title" content="LDO Creates")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://ldocreates.com")
    meta(property="og:image" content="https://ldocreates.com/images/IMG_2691_4X3.jpg")
    meta(property="og:site_name" content="LDO Creates")
    meta(property="fb:app_id" content="522359368095268")
    meta(property="og:description" content="Handmade cards.")
    link(href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css")
    link(rel='stylesheet', href='/stylesheets/blueimp-gallery.css')
    link(rel='stylesheet', href='/stylesheets/style.css?version=001')
    include gtag
  body.bg-ldo-card-light
    //- include contact
    //- include main-header
    //- .main-content-wrapper
    //-     include main-navbar
    //-     main
    //-         block content
    //- include main-footer
    .flex-row.height-100
        include main-header
        // .main-content-wrapper.d-flex
            // include main-navbar
        main
            block content
        include main-footer
    include ../public/svgs/sprite.svg
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="/javascripts/tether.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/additional-methods.min.js")
    script(src="/javascripts/main.js")
    script(src="/javascripts/year.js")
    block footerScripts
    
