nav#main-navbar.ldo-main-nav.bg-ldo-card-light
    ul
      li
        a(href='/')
          svg.icon-nav
            use(href="#home")
          span Home
      li
        a(href='/about')
          svg.icon-nav
            use(href="#about")
          span About
      li 
        a(href="mailto:#{email}") 
          svg.icon-nav
            use(href="#contact")
          span Contact
