footer.page-footer.center-on-small-only.bg-ldo-purple-dark
    .container
        .row
            p.color-ldo-card-light Copyright &copy; 
                span#years 
                |Lynn Donaldson-Otto