//- header.main-header.bg-ldo-purple-dark.p-2
header.main-header.p-2.bg-ldo-purple-dark
  .menu-toggle-area
    a#mobile-menu-toggle.btn.btn-primary.bg-ldo-green-dark.ldo-green-btn.waves-effect.waves-light
      svg
        use#mobile-menu-control(href="#menu")
  .logo
    //- a.color-ldo-purple-light(href='/') 
    //-   img.img-100(src="/images/logo.svg")
    svg
      use(href="#logo")
  .header-middle-area
    a(href="/")
      h1.alex-brush.color-ldo-purple-light.h1-responsive.text-uppercase.text-xs-center LDO Creates
  //- Navbar
  //- nav.navbar.navbar-dark.navbar-toggleable-md.bg-ldo-purple-dark
  //-   .container 
  //-     //- Collapse button
  //-     button.navbar-toggler.navbar-toggler-right.collapsed(type='button', data-toggle='collapse', data-target='#collapseNav')
  //-       i.fa.fa-bars     
  //-       //- Collapse content
  //-     //-Navbar Brand
  //-     a.navbar-brand.color-ldo-purple-light(href='/') 
  //-       img.img-100(src="/images/logo.svg")
  //-     #collapseNav.collapse.navbar-collapse.navbar-toggleable-xs
  //-       //- Links
  //-       ul.nav.navbar-nav.mr-auto                     
  //-         li.nav-item
  //-           a.nav-link.color-ldo-card-light(href='/about') About
  //-         li.nav-item
  //-           a.nav-link.color-ldo-card-light(href='#' data-toggle="modal" data-target="#contactModal") Contact
    //- .Navbar